<!DOCTYPE html>
<html>
<head>
    <title>Login - Adaptive Quiz</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
</head>
<body class="auth-body">

<div class="auth-container">

    <div class="auth-card">
        <h2>Welcome Back 👋</h2>
        <p class="subtitle">Login to continue your learning journey</p>

        <form id="loginForm">
            <input type="email" id="email" placeholder="Enter your email" required>
            <input type="password" id="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>

        <p class="switch-text">
            Don’t have an account?
            <a href="/register-page">Register here</a>
        </p>
    </div>

</div>

<script src="/static/js/main.js"></script> 
</body>
</html>